<!DOCTYPE html>
<html lang="<%= theme.language %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="<%= theme.author %>">
    <meta name="description" content="<%= theme.description %>">
    <meta name="keywords" content="<%-theme.keywords%>">
    <title><%= theme.author %> | <%= theme.description %></title>
    <link rel="icon" href="<%= theme.favicon %>">
    <link rel="stylesheet" href="<%-theme.CDN.index%>">
    <link rel="stylesheet" href="<%-theme.CDN.iconfont%>">
    <style>
        :root{
            --font_size: <%-theme.font_size%>;
            --a_hover: <%-theme.a_hover%>;
            --author_color: <%-theme.author_color%>;
            --desc_color: <%-theme.desc_color%>;
            --footer_color: <%-theme.footer_color%>;
            --footer_a_color: <%-theme.footer_a_color%>;
            --bg_img: <%-theme.bg_img%>;
        }
    </style>
    <%if(theme.analytics.baidu!=null){%>
        <!-- 百度统计 -->
        <script>
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?<%-theme.analytics.baidu%>";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
        <%}%>
        <%if(theme.analytics.google!=null){%>
        <!-- 谷歌统计 -->
        <script>
            const script = document.createElement('script')
            script.src = 'https://www.googletagmanager.com/gtag/js?id=<%-theme.analytics.google%>'
            script.async = true
            document.head.appendChild(script)
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', '<%-theme.analytics.google%>');
        </script>
    <%}%>
    <% theme.import.head.forEach(function(head, i){ %> 
        <%-head%>
    <% }) %>
</head>
<body>
    <% theme.import.top.forEach(function(top, i){ %> 
        <%-top%>
    <% }) %>
<div class="wrapper">
    <div class="main">
        <div class="container">
            <div class="intro">
                <div class="avatar">
                    <a href="/"><img src="<%- theme.avatar%>" alt="<%= theme.author %>"></a>
                </div>
                <div class="name"><%= theme.author %></div>
                <div class="description">
                        <p><%- theme.desc %></p>
                </div>
                <div class="links">
                    <% for (var i in theme.links){ %>
                    <a class="link-item" href="<%-theme.links[i] %>" target="_blank" rel="noopener">
                        <i class="<%=i%>"></i>
                    </a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="footer">
        <div class="copyright">
            <%if(theme.ICP.enable == true){%>
                <a id="icp" href="<%-theme.ICP.url%>" target="_blank" rel="noopener" one-link-mark="yes">
                    <img style="padding: 0 4px;vertical-align: text-bottom;" src="<%-theme.ICP.icon%>" alt="ICP"/><%-theme.ICP.text%></a><br/>
            <%}%>
            <% var now=new Date().getFullYear(); %>
            <span>Copyright © <span><%- theme.since===now ? theme.since : (theme.since + " - " + now) %></span>
                    <a href="/" one-link-mark="yes"><%= theme.author %>
                    </a> All Rights Reserved.
            </span>
        </div>
    </footer>
</div>
<script>
    console.log('\n' + ' %c AWStats-HomePage %c https://github.com/lete114/HomePage ' + '\n', 'color: <%-theme.author_color %>; background: #333; padding:5px 0;', 'background: <%-theme.author_color %>; padding:5px 0;');
</script>
<% theme.import.bottom.forEach(function(bottom, i){ %>
    <%-bottom%>
<% }) %>
</body>
</html>
